spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8082

logging:
  level:
    com.edrs: DEBUG
    org.springframework.kafka: INFO
